<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.group4.javaserver.dao.AdminMapper">

    <!--插入-->
    <insert id="insert">
        insert into admin (admin_name,admin_pwd,admin_phone,create_time)
        values (#{admin.adminName},#{admin.adminPwd},#{admin.adminPhone},#{admin.createTime})
    </insert>

    <!--修改-->
    <update id="update">
        update admin
        <set>
            <if test="admin.adminName != null">
                admin_name = #{admin.adminName},
            </if>
            <if test="admin.adminPwd != null">
                admin_pwd = #{admin.adminPwd},
            </if>
            <if test="admin.adminPhone != null">
                admin_phone = #{admin.adminPhone},
            </if>
            <if test="admin.lastLoginTime != null">
                last_login_time = #{admin.lastLoginTime},
            </if>
            <if test="admin.adminStatus != null">
                admin_status = #{admin.adminStatus},
            </if>
        </set>
        where id = #{admin.id}
    </update>


    <!--批量删除-->
    <update id="deleteAllByPk">
        update admin set is_deleted = 1
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <update id="updateStatus">
        update admin
        set admin_status= (
        case admin_status when 1 then 0
        when 0 then 1
        end)
        where id=#{id}
    </update>

    <!--搜索-->
    <select id="search" resultType="com.group4.javaserver.pojo.Admin">
        select * from  admin
        <where>
            is_deleted = 0
            <if test="adminVo.keywords != null and adminVo.keywords != ''">
                and admin_name like #{adminVo.keywords}
            </if>
            <if test="adminVo.startTime != null">
                and create_time &gt;= #{adminVo.startTime}
            </if>
            <if test="adminVo.endTime != null">
                and create_time &lt;= #{adminVo.endTime}
            </if>
        </where>

    </select>

    <!--通过id查询-->
    <select id="findById" resultType="com.group4.javaserver.pojo.Admin">
        select * from admin
        where id = #{id} and is_deleted = 0
    </select>

    <!--通过名字查询-->
    <select id="findByName" resultType="com.group4.javaserver.pojo.Admin">
        select id, admin_name, admin_pwd, admin_phone, last_login_time from admin
        where admin_name = #{name} and admin_status = 1 and is_deleted = 0
    </select>
    <!--统计数量-->
    <select id="count" resultType="java.lang.Integer">
        select count(*) from admin
    </select>


</mapper>