<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group4.javaserver.dao.RuleMapper">

    <resultMap type="com.group4.javaserver.pojo.Rule" id="RuleMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="roleCode" column="role_code" jdbcType="INTEGER"/>
        <result property="permission" column="permission" jdbcType="INTEGER"/>
    </resultMap>
    <!--查询角色对应的权限-->
    <select id="getPermissionByRoleCode" resultMap="RuleMap">
        select
          permission
        from scdx.rule
        where role_code = #{RoleCode}
    </select>

    <!--查询单个-->
    <select id="queryById" resultMap="RuleMap">
        select
          id, role_code, permission
        from scdx.rule
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="RuleMap">
        select
          id, role_code, permission
        from scdx.rule
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="RuleMap">
        select
          id, role_code, permission
        from scdx.rule
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="roleCode != null">
                and role_code = #{roleCode}
            </if>
            <if test="permission != null">
                and permission = #{permission}
            </if>
        </where>
    </select>
    <!--查询指定行数据-->
    <select id="queryByRoleCode" resultMap="RuleMap">
        select
          id, role_code, permission
        from scdx.rule
        where role_code=#{roleCode}
    </select>


</mapper>